.tabs-md .tabbar,.toolbar-background-md {
	@include app-layout-gradient($layout-color1,$layout-color2);
}
.tabs-md .tab-button{
	color: rgba(0, 0, 0, 0.6);
}
  .content-md{
  	background-color:#185a9d;
  }
 .toolbar-title-md{
 	color:#ffffff;
 }
