<ion-header>
    <ion-navbar>
        <ion-title>
            About
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
<!-- {{labelData}}
{{colorData}}
{{textData}}
{{posts.title}} -->

<ion-card>
   <img [src]='base64Image' *ngIf="base64Image" />
  
  <ion-card-content>
    <ion-card-title>
      {{news}}
      </ion-card-title> 
    <p>
      {{description}}
    </p>
  </ion-card-content>
</ion-card>

    <!-- <ion-card>
        <ion-card-content>
            <div class="fileinput-preview thumbnail">
   
                <img [src]='base64Image' *ngIf="base64Image" />
           
            
            </div>
        </ion-card-content>
    </ion-card> -->
</ion-content>
