<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-ImageCrop" version="1.0.4">
    <name>ImageCropPlugin</name>
    <description>
        Crop an image in a Cordova app
    </description>
    <license>MIT</license>
    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>
    <js-module src="www/imagecrop.js" name="ImageCropPlugin">
        <clobbers target="plugins.imagecrop" />
    </js-module>
    <platform name="android">
        <!-- your configuration elements, references, source files, etc... -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ImageCropPlugin">
                <param name="android-package" value="com.piyush.crop.ImageCropPlugin" />
            </feature>
        </config-file>
        <framework src="src/android/imagecrop.gradle" custom="true" type="gradleReference" />
        <resource-file src="aar/cropper-release.aar" target="libs/cropper-release.aar" />
        <framework src="com.android.support:appcompat-v7:24.2.1"/>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:theme="@style/Theme.AppCompat" android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/ImageCropPlugin.java" target-dir="src/com/piyush/crop" />
    </platform>
</plugin>
